.pagina3 {
    position: absolute;
    left: 10%;
    width: 81%;
    height: 732px;
    top: 1500px;
    text-align: center;


}
.cards{
    display: flex;
    align-items: baseline;
    text-align: left;
    justify-content: space-between;
}
.fundo {
    width: 300px;
    height: 400px;
    left: 255px;
    top: 1711px;
    background: #352166;
    border-radius: 10px;
    border: none;
}
.cards a{
    text-decoration: none;
    color: #D6692B;
}
.cards p{
    color: white;
    text-align: left;
    margin-left: 20px;
}
.cards h2{
    color: #352166;
}
.titulo h1 {
    color: #D6692B;
}
.cards img{
    width: 100%;
}