.idEmpresa {
    height: 750px;
    
}
.Empresa {
    background-color: #6CB9AA;
    align-items: center;
    text-align: center;
    color: #352166;
    border: none;
    width: 400px;
    left: 35%;
    position: absolute;
    top: 150px;
    height: 650px;
    border-radius: 10px;
}
.Empresa h2{
    color: white;
}
.Empresa p {
    font-size: 11px;
}
.botaoSeletor {
    color: #352166;
    width: 148px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    background: #EDCB59;
    margin-right: 10px;
}
.enviarEmpresa {
    width: 310px;
    height: 38px;
    background: #352166;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}
.inputMaior{
    width: 310px;
    height: 38px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}

.inputMenor {
    width: 150px;
    height: 38px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
}